<p>Tests Melon JS</p>
<button (click)="runGame('AssetsMelonScene')"><span class="icon icon-image-multiple"></span> Chargement des assets</button>
<button (click)="runGame('InterfaceMelonScene')"><span class="icon icon-button-cursor"></span> Interaction</button>
<button (click)="runGame('RenderingMelonScene')"><span class="icon icon-expansion-card-variant"></span> Rendering des sprites</button>
<button (click)="runGame('ControlsMelonScene')"><span class="icon icon-controller"></span> Contrôles</button>
<button (click)="runGame('MovementMelonScene')"><span class="icon icon-cursor-move"></span> Déplacements</button>
<button (click)="runGame('CollisionMelonScene')"><span class="icon icon-bomb"></span> Détection de collision</button>
<button (click)="runGame('ParticulesMelonScene')"><span class="icon icon-creation"></span> Particules et effets visuels</button>
<button (click)="runGame('SonsMelonScene')"><span class="icon icon-volume-high"></span> Sons</button>

<div #canvas width="800" height="600"></div>

<p>Attention: Certains tests semblent vides en raison de l'impossibilité de l'implémentation</p>