<p>Tests Phaser JS</p>
<button (click)="runGame('AssetsPhaserScene')"><span class="icon icon-image-multiple"></span> Chargement des assets</button>
<button (click)="runGame('InterfacePhaserScene')"><span class="icon icon-button-cursor"></span> Interaction</button>
<button (click)="runGame('RenderingPhaserScene')"><span class="icon icon-expansion-card-variant"></span> Rendering des sprites</button>
<button (click)="runGame('ControlsPhaserScene')"><span class="icon icon-controller"></span> Contrôles</button>
<button (click)="runGame('MovementPhaserScene')"><span class="icon icon-cursor-move"></span> Déplacements</button>
<button (click)="runGame('CollisionPhaserScene')"><span class="icon icon-bomb"></span> Détection de collision</button>
<button (click)="runGame('ParticulesPhaserScene')"><span class="icon icon-creation"></span> Particules et effets visuels</button>
<button (click)="runGame('SonsPhaserScene')"><span class="icon icon-volume-high"></span> Sons</button>

<div id="game-container"></div>